In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("air_quality_dataset.csv") 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2164 non-null   int64
 1   City     2164 non-null   object
 2   Country  2164 non-null   object
 3   2023     2164 non-null   float64
 4   Jan      2164 non-null   object
 5   Feb      2164 non-null   object
 6   Mar      2164 non-null   object
 7   Apr      2164 non-null   object
 8   May      2164 non-null   object
 9   Jun      2164 non-null   object
 10  Jul      2164 non-null   object
 11  Aug      2164 non-null   object
 12  Sep      2164 non-null   object
 13  Oct      2164 non-null   object
 14  Nov      2164 non-null   object
 15  Dec      2164 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 270.6+ KB
None

Nov        91
Jan        87
Feb        66
May        58
Dec        51
Mar        33
Oct        31
Aug        11
Sep        11
Apr         9
Jun         6
Jul         4
Rank        0
City        0
Country     0
2023        0
dtype: int64

np.int64(270)

270 out of 2164 rows (12.48%) contain at least one missing value.